extends layout

block content
	div.container
		nav.navbar.navbar-default.navbar-fixed-top
			div.container
				div.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/home') PadelPlay
				div.navbar-collapse.collapse
					ul.nav.navbar-nav
						li.active
							a(href='/home') Home
						li
							a(href='/createMatch') Create Match

						form.navbar-form.navbar-left(action='/search', method='get')
							div.form-group
								input.form-control(type='text', placeholder='City', name='city')
							button.btn.btn-default(type='submit') Search
					ul.nav.navbar-nav.navbar-right
						a.btn.btn-default.navbar-btn(href='/profile')= user.local.name + ' ' + user.local.lastName
						| 
						a.btn.btn-default.navbar-btn.btn-danger(href='/logout') Logout
						-if(user.group=='admin')
							| 
							a.btn.btn-default.navbar-btn(href='/admin') Admin
		div.row
			each match, i in matchs
				div.col-sm-3
					div.well.matchs
						-if(messageGame.length>0)
							div.alert.alert-danger
								messageGame= messageGame
						p
							h3.strong 
								a(href='/match/'+matchs[i]._id)= matchs[i].city
							
							strong Club
							| :
							club= matchs[i].club
							br
							strong Price
							| :
							price= matchs[i].price
							| €
							br
							strong Level
							| :
							lvl= matchs[i].cat
							br
							strong Players
							| :
							br
							p1= matchs[i].players[0]
							br
							p2= matchs[i].players[1] 
							br
							p3= matchs[i].players[2]
							br
							p4= matchs[i].players[3]

						-if(matchs[i].players.indexOf(user.local.email)==-1 && matchs[i].players.length<4)
							a.btn.btn-success(href='/play/'+matchs[i]._id) Play
						-if(matchs[i].players.indexOf(user.local.email)>=0 && matchs[i].owner!=user.local.email)
							a.btn.btn-warning(href='/notplay/'+matchs[i]._id) Don't play
						-if(matchs[i].owner===user.local.email)
							| 
							a.btn.btn-danger(href='/deletematch/'+matchs[i]._id) Remove 
							
						
						

